* {
font-family: Arial;

}
body {
  margin: 0px;
  padding: 0px;

}
header {
  display:flex;
  justify-content:center;
  height:120px;
}

.container {
  display: flex;
  justify-content:space-between;
  width: 990px;
 
}

.logo {
  display: flex;
  align-items: center;
  
}

.menu {
  display: flex;
  align-items: center;

}

nav ul,
nav li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

nav ul {
  display: flex;
}

nav a {
  display:block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color:#727272;
}

nav .active a ,
nav a:hover {
background-color:#39aae1;
color:#ffffff;
}

#banner {
  display:flex;
  justify-content:center;
  background-image: url('./assets/img1.jpg');
  background-position: center;
  background-size: cover;
  height:670px;
}

.column {
  flex-direction: column;
}
.banner_headline{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  
}
.banner_headline h1 {
  color:#ffffff;
  font-size:70px;
  text-shadow: 0px 1px 0px #555555;
  margin:0px;
  padding:0px;
 max-width:350px;
}
.banner_headline h2 {
  color:#ffffff;
  font-size:21px;
  text-shadow: 0px 1px 0px #555555;
  margin:0px;
  padding:0px;
  max-width:350px;
  margin-top:30px;
}

.banner_options {
  height: 210px;
  display: flex;
  
}
.banner1,
.banner2,
.banner3 {
  flex:1;
  color: #ffffff;
  padding: 20px;

}

.banner1 {
  background-color: #39aae1;
}
.banner2 {
  background-color: #0079c7;
}
.banner3 {
  background-color: #2b4c99;
}

.banner_title {
  font-size: 21px;
  margin-top:20px;
  margin-bottom:20px;
}

.banner_options a {
  display:inline-block;
  border: 1px solid #ffffff;
  padding:5px;
  color: #ffffff;
  font-size:12px;
  text-decoration: none;
  margin-top: 5px;
}
.week {
  display: flex;
  justify-content:space-between;
  border-bottom: 1px solid #0370b8;
  padding-bottom: 10px;
  margin-bottom: 5px;
  font-size: 13px;
  margin-top: 15px;
  }
  
#geral {
  display: flex;
  justify-content: center;
}

#geral section {
  flex:2;
}

#geral aside {
 flex:1;
}
.widget_title {
  margin-top: 30px;
  margin-bottom: 20px;
  height: 20px;
}

.widget_title_text {
 color:#000000;
 font-size: 21px;
 font-weight: bold;
 height:15px;

}

.widget_title_bar {
  width: 50px;
  height: 3px;
  background-color: #36a9e1;
  margin-top: 10px;

}

.widget_body{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.flex {
  display:flex;
  flex-wrap: wrap;
}
article {
  flex:1;
  min-width: 300px;
  margin-right:20px; 
}

article a {
  text-decoration:none;
}

article .news_data {
  display:flex; 
}
article .news_posted_at {
  background-color: #2b4c99;
  color:#ffffff;
  font-size: 12px;
  padding: 12px;
  margin-right: 3px;
}
article .news_coments {
  background-color:#39aae1;
  color:#ffffff;
  font-size: 12px;
  padding: 12px;
}
article .news_thumbnail {
  margin-top: 30px;
}
article .news_thumbnail img {
  width: 100%;
  height: auto;
}

article .news_title {
  margin-top: 25px;
  margin-bottom: 25px;
color:black;
font-size: 23px;
}
article p {
  font-size: 14px;
  color: #5c5c5c;
  line-height: 19px;
}

 /* FOOTER  */

footer {
  background-color:#1e1e1e;
  display:flex;
  justify-content: center;
 }
.footer_menu {
  display:flex;
 
}

.fm1 , .fm2 , .fm3 {
  flex:1;
  color:#ffffff;
  padding: 20px;

}
.fm1 {
  background-color: #39aae1;
}
.fm2 {
  background-color: #0079c7;
}
.fm3 {
  background-color: #2b4c99;
  
}

footer .banner_desc a{
  color: #ffffff;
  text-decoration: none;
}

footer .banner_desc a:hover{
  text-decoration: underline;
}


.footer_area{
  color: #ffffff;
  display: flex;
}

.footer_areaitem{
  flex: 1;
}

.flexColumn{
  flex-direction: column;
}

footer .widget_title_text{
  color: #ffffff;
}

.footer_copy{
  border-top: 1px solid #2c2c2c;
  height: 40px;
  line-height: 40px;
  color: #5c5c5c;
  font-size: 11px;
  margin-top: 30px;
}

.footer_copy a{
  color: #ffffff;
  text-decoration: none;
}

.footer_copy a:hover{
  text-decoration: underline;
}

footer .widget_mc{
  color: #5c5c5c;
  font-size: 13px;
  margin-right: 50px;
}

footer .widget_mc p{
  padding-bottom: 30px;
}

footer .widget_lp{
  color: #36a9e1;
  font-size: 11px;
}

footer .widget_lp p{
  line-height: 1.2px;
}

footer .widget_lp a{
  color: #D5D5D5;
  font-size: 13px;
  line-height: 1.2px;
  text-decoration: none;
}

footer .widget_lp a:hover{
text-decoration: underline;
}

footer .widget_lt{
  color: #5c5c5c;
  font-size: 13px;
  margin-left: 12px;
}

footer .widget_lt p{
  color: #36a9e1;
  font-size: 11px;
  line-height: 1.2px;
}

footer .widget_lt a{
  color: #ffffff;
  text-decoration: none;
}

footer .widget_lt a:hover{
  text-decoration: underline;
}

.fone-mc1{
  line-height: 1.2px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.fone-mc2{
  line-height: 1.2px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.fone-mc3{
  line-height: 1.2px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.fone-mc4{
  line-height: 1.2px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.fone-mc4 a{
  color: #D5D5D5;
  text-decoration: none;
}

.fone-mc4 a:hover{
  text-decoration: underline;
}

.fone1,
.fone2{
  padding-right: 50px;
}

.social_icon img{
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.social_icon a img{
  max-width: 30px;
}

.social_icon:hover a img{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.icon1,
.icon2,
.icon3,
.icon4{
  margin-top: 30px;
  margin-right: 5px;
  margin-bottom: 30px;
  display: inline-block;
}
.menumobile {
  display:none;
  height: 40px;
  width: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 20px;
  
}

.mm_line {
height: 3px;
background-color:#0370b8
}

@media (max-width:600px) {
  .banner_headline {
    padding: 20px;
  }
  
  .banner_headline h1 {
    font-size: 55px;
  }
  .banner_headline h2 {
    font-size:17px;
  }
  .banner_options {
    height: auto;
    flex-direction: column;
  }
  .container {
    flex-direction: column;
  }
  #geral section,
  #geral aside {
    padding: 70px;
  }
  .footer_menu {
    flex-direction: column;
  }
  .footer_area {
    padding: 20px;
    flex-direction: column;
  }
  .footer_copy{
    padding-left: 20px;
  }

  header .container {
    flex-direction: row;
  }
  nav ul {
    flex-direction: column;
    display: none;
  }
  header {
    height: auto;
  }
  .logo {
    padding-left: 20px;
  }
  .menumobile {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
 